*{
padding:0;
margin:0;
font-family: "personal 1";
user-select: none;
}
@font-face{
    font-family:'personal 1';
    src:url('../fonts/Bebas_Neue/font_personal.ttf');
}
@font-face {
    font-family:'font para texto' ;
    src: url('../fonts/Quicksand/Quicksand.ttf');
}
body{
    background-color: black;
    overflow-x: hidden;
}

header{
    background-color: rgb(150,150,150);
    height:105vh;
    background-image: url(../img/background-black.webp);
    background-position: center;
    background-size: 100% 110%;
    background-repeat: no-repeat;
    text-align: center;
}
header nav{
    height:12vh;
    display: flex;
    align-items: center;
    padding-top: 1vh;
}
header nav .logo{
    height: 12vh;
    width:17vw;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image:url(../img/IMG-4923.png);
}
header nav h3{
    color: rgb(255, 255, 255);
    font-size: 5vh;
}
.inscreva-se{
    margin-top:20vh;
    color: white;   
}
.inscreva-se h1{
    font-size: 10vw;
    letter-spacing:10px;
    margin-bottom: 1vw;
}
.inscreva-se button{
    width: 20vw;
    height:5vw;
    font-size:2vw;
    color: white;
    background-color: rgb(000, 100, 220);
    box-shadow: 3px 6px 3px black;  
    border: none;
    cursor: pointer;
}
.inscreva-se button:active{
    transition: scale(0.98);
    border: 0.5vw ridge  rgb(000, 100, 220);
    box-shadow: 0px 2px 3px black;
    
}
hr.divisoria-1{
    background-image: linear-gradient(to left, transparent,rgb(000,100,250),transparent);
    height: 0.3vh;
    border: none;
    width: 80vw;
    margin: 0 auto;
}
section.sobre-empresa{
    background-image: url(../img/background-azul.jpg);
    background-position: center;
    background-size: 100% 110%;
    height:120vh;
    width:100%;
}
section.sobre-empresa .text-sobre{
    width: 80vw ;
    height: 70%;
    display: block;
    padding-left: 4vw;
    padding-top:7vh;
    color: white;
    text-align: center;
}
section.sobre-empresa .text-sobre h1{
    font-size: 6vw;
    width: 30vw;
    margin: 0 30vw ;
}
section.sobre-empresa .text-sobre p{
    font-size: 1.6vw;
    width:60vw;
    text-align: justify;
    margin: 1vw 15vw;
    font-family: 'font para texto';
   
}

section.sobre-empresa .slide-Historia{
    height:35vw;
    width:45vw;
    margin: 5vw 22vw;
    overflow:hidden;
    border-radius: 15px;
    background-color: rgb(0, 23, 51);
    border: 1vw solid rgb(0, 23, 51);
    box-shadow: 0 0 10px rgb(0, 113, 141);
    
}

section.sobre-empresa .slide-Historia .imagem{
    background-size: 100% 100%;
    display: block;
    float: left;
   height:30vw;
    font-size: 5vw;
    color: red;
    width:45vw;
    
    
}

section.sobre-empresa .slide-Historia .imagem p{
 margin-top: 31.5vw;   
 text-decoration: underline;
 
}

section.serviÃ§os{
    margin-top: -2%;
    background-image: url(../img/background-black.webp);
    background-position: center;
    background-size: 100% 110%;
    height:105vh;
    width:100%;
    color: aliceblue;
    align-items: center;
    text-align: center;
}

section.serviÃ§os .title{
    margin: 5vh auto;
    font-size: 4vh;
    height:25vh;
    width: 90vw;
}
section.serviÃ§os .title h1{
    font-size: 10vh;
}
section.serviÃ§os .imagens{
    width: 80vw;
    height: 65vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
section.serviÃ§os .imagens .contentImgs{
    width: 200vw;
    display: flex;
    height: 100%;
   
 } 
section.serviÃ§os .imagens .contentImgs .imagem{
    width: calc(80vw / 3);
    margin: 0 10px;
    height: 100%;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;

}
section.serviÃ§os .imagens .contentImgs .imagem h2{
    margin-top: 50%;
    font-size:7vh ;
    color: transparent;
    transition:all 1s ease;
}
section.serviÃ§os .imagens .contentImgs .imagem:hover h2{
    color: rgb(255, 255, 255);
    transition-duration: 1s;    
}

section.serviÃ§os .imagens .contentImgs .img2{
    background-image:url('../img/img_service2.jpg'); 
    background-size: 120% 100%;
    height:105%;
    left:92.5vw;
}  

section.serviÃ§os .imagens .contentImgs  .img1{
    background-image:url('../img/img_service1.jpg'); 
    background-size: 150% 100%;
    left: 2.5vw;
    
}  

section.serviÃ§os .imagens .contentImgs  .img3{
    background-image:url('../img/img_service3.jpg'); 
    background-size: 120% 100%;
    left:182.5vw;
}  
    
    section.serviÃ§os .imagens .contentImgs .imagem h2:last-child{
      display: none;      

        }   
section.serviÃ§os .imagens .contentImgs .textcomplement:first-child{
    color: white;
    margin-left: 5vw;
    font-size: 17px;
}
section.serviÃ§os .imagens .contentImgs .textcomplement{
display: none;
font-size:2vh;
}

section.serviÃ§os .imagens .contentImgs .textcomplement p{
    display: flex;
    text-align: left;
    width: 75vw;
    margin-top: 2vh;
}

section.serviÃ§os .imagens .contentImgs .textcomplement p:nth-child(1),section.serviÃ§os .imagens .contentImgs .textcomplement p:nth-child(2){
    margin-left: 3.2vw;
}
section.serviÃ§os .imagens .contentImgs .textcomplement p:nth-child(3){
    margin-left: 4vw;   
}



section.depoimentos{
    margin-top: 0.5%;
    background-image: url(../img/background-azul.jpg);
    background-position: center;
    background-size: 100% 110%;
    height:110vh;
    width:100%;
    color: aliceblue;
    align-items: center;
    text-align: center;
}
section.depoimentos .titulo{
    font-size: 8vh;
    padding: 2% 0;
}
    
section.depoimentos .depoimentos-pessoas{
    height:75vh;
    width: 95%;
    margin: 0 auto;
}
section.depoimentos .depoimentos-pessoas .content-conteudo{
    height: 90%;
    width:calc(94% / 3);
    float: left;
    background-color:rgb(0, 0, 0);
    margin: 2% 1%;   
}
section.depoimentos .depoimentos-pessoas .content-conteudo .conteudo{
    background-color:rgba(000,100,200,0.7);
    width:100%;
    text-align:center;
    height:30.8%;
    position: relative;
    top: 60%;
    font-size: 1.2vw;
    padding: 5% 0;
}
section.depoimentos .depoimentos-pessoas .content-conteudo .conteudo p{
    width: 100%; 
}
section.formulario{
    
    margin-top: 0.5%;
    position: relative;
    background-image: url(../img/background-black.webp);
    background-position: center;
    background-size: 100% 110%;
    height:105vh;
    width:100%;
    color: aliceblue;
    align-items: center;
    text-align: center;
}
section.formulario .text {
    position: absolute;
    width: 30% ;
    top:5%;
    left: 10%;
    font-size: 25px;
    text-align: left;
}
section.formulario .text h2{
    font-size: 75px;
}
section.formulario form.form-aula{
    width: 450px;
    height:700px;
    position:relative;
    top: 6%;
    right: 15%;
    float: right;
    background-color: rgb(200,200,200);
}
section.formulario form.form-aula h2{
    height:calc((100% / 6) - 10%);
    padding:5%;
    font-size: 35px;
    background-color: rgb(124, 124, 124);
}
section.formulario form.form-aula .input-aula{
    height:calc(100% / 6);
    margin: 3% 0;     
}
section.formulario form.form-aula .input-aula label,section.formulario form.form-aula .input-aula input{
    display: block;
    margin: 0 auto;
    width: 80%;
    height:50%;
    border: none;
    padding: 1%;
    padding-left: 3%;
}
section.formulario form.form-aula .input-aula input{
    outline: none;
    font-size: 17px;
}
section.formulario form.form-aula .input-aula label{
    margin: 0 auto;
    text-align: left;
    margin-bottom: -4%;
    margin-left: 12%;
    font-size: 25px;
}
section.formulario form.form-aula .data,section.formulario form.form-aula  .tele{
    width: 40%;
    display: inline-block;
    margin: 0 2%;
}
section.formulario form.form-aula .data input, .tele input{
    text-align: center;
}
section.formulario form.form-aula input:valid{
    outline:3px solid rgb(0, 100, 0);
    border-radius: 2px;
}
section.formulario form.form-aula .data label,section.formulario form.form-aula  .tele label{
    font-size: 25px;
    margin-bottom: -10%;
}

section.formulario form.form-aula select {
    display: block;
    margin: 0 auto;
    width: 80%;
    height:50%;
    border: none;
    padding: 0.7%;
    font-size: 17px;   
}        
section.formulario form.form-aula input[type=submit]{
    height:calc((100% / 6) - 8%);
    width:70%;
    font-size: 20px;
    background-color: rgb(000, 100, 220);
    color:aliceblue;
    border:none;
    box-shadow: 3px 6px 3px black;  
    outline: none;
}
section.formulario form.form-aula input[type=submit]:active{
    transition: scale(0.98);
    border: 4px ridge  rgb(000, 100, 220);
    box-shadow: 0px 2px 3px black;
}
section.contato{
    position: absolute;
    height:17vh;
    width: 100%;
    background-color: rgb(000, 100, 220);
    color: white;
    align-items: center;
    text-align: center;
}
section.contato div{
    display: inline-block;
}
section.contato div.titulo{
    width: 30%;
    text-align: left;
    margin: 1% 0;
    font-size: 23px;
}
section.contato div.meios-contato{
    margin-top: 2%;
    width: 60%;
    float: right;
    align-items: center;
}
section.contato div.meios-contato .informativo{
    width: 30%;
    margin: 0 1%;
}
section.contato-mobile{
    position: absolute;
    margin-top: 10vh;
    height: 10vh;
    width: 100%;
    display: none;
    text-align: center;
    align-items: center;
    background-color:  rgb(000, 100, 220);
    color: aliceblue;
    overflow: hidden;
}
section.contato-mobile .logo-final{
    height: 150%;
    width: 60%;
    background-size:contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    position: absolute;
    left: 57%;
    top: -20%;
    opacity: 0.2;
}

section.contato-mobile .logo-final,section.contato-mobile h1{
    display: inline-block;

}
section.contato-mobile h1{
    font-size: 12vw;
    position: absolute;
    left: 27%;
    top:12%;
    letter-spacing: 2px;
    text-shadow: 0px 0px 5px white;
}

